<!DOCTYPE html>
<html data-ng-app="WeatherMeme">
	<head>
		<title>WeatherMeme</title>

		<link rel="stylesheet" type="text/css" href="assets/styles/main.min.css ">
		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
		
	</head>
	<body>
		<div data-ng-controller="MainController">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<img class="brand-img" src="assets/images/nyan-cat.gif" /> WeatherMeme
						</a>
					</div>
					<div>
						<form class="navbar-form navbar-left" data-ng-show="showForm" data-ng-submit="getByCityName()">
							<div class="form-group">
								<input type="text" class="form-control" id="location" placeholder="Location" data-ng-model="cityName" required>
							</div>
							<button type="submit" class="btn btn-primary">GO!</button>
						</form>
					</div>
				</div>
			</nav>

			<div class="container">

				<div class="loader-wrapper" ng-show="!contentLoaded">
					<div class="loader">Loading...</div>
				</div>
				<div class="row">
					<div class="todays clearfix" ng-show="contentLoaded" ng-class="{'fade-in': contentLoaded}">
						<div class="weather-icon col-md-4">
							<img class="img-responsive center-block" ng-src="assets/images/{{curForecast.icon}}.png" />
						</div>
						<div class="todays-forecast col-md-4">
							<p class="text-center">{{ clock  | date:'medium'}}</p>
							<h1 class="text-center temp">{{ curForecast.temperature | number:0 }}&deg;</h1>
							<h2 class="text-center">{{ curForecast.summary }}</h2>
							<hr />
							<p>Humidity: {{ curForecast.humidity }}%</p>
							<p>Wind: {{ curForecast.windBearing | windDirection}} {{ curForecast.windSpeed }}</p>
						</div>
					</div>
				</div>
				<div class="weekly-forecast row">
					<div ng-repeat="forecast in weeklyForecast.data" ng-show="!$first && !$last" class="fade-in">
						<div class="col-md-2">
							<div class="thumbnail">
								<h3 class="forecast-date text-center">{{ forecast.time * 1000 | date:'EEE' }} 
									<span class="subtle">{{ forecast.time * 1000 | date:'MMM d' }}</span>
								</h3>
								<img class="img-responsive" ng-src="assets/images/small/{{forecast.icon}}.png" />
								<h1 class="forecast-temp text-center">
									{{ forecast.temperatureMax | number:0 }}&deg; <span class="subtle">{{ forecast.temperatureMin | number:0 }}&deg;</span>
								</h1>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>	

		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/nganimate.min.js"></script>
		<script type="text/javascript" src="assets/js/main.min.js"></script>
	</body>
</html